# Node.js modules
node_modules/

# Environment files
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build output
build/
dist/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional yarn cache directory
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/patches/
.yarn/versions/

# React Native
.expo/
