.partner-wrapper {
  background-color: #fff;
  margin: 20px 150px !important;
}

.partner-image {
  padding: 30px;
  max-width: 200px;
  max-height: 200px;
}

.partner-info {
  margin-top: 30px;
}
.ratings {
  display: flex;
  padding: 10px 0px;
}
.area-expertise {
  margin-top: 25px;
  line-height: 33px;
}

.horizontl-line {
  padding: 10px 30px;
}

.customer-review {
  padding: 0 30px;
}

.review-image {
  height: 50px;
}
.reviews {
  padding: 20px 0;
}
.book-now-btn {
  margin: 60px 0px;
}
